#search-wrapper {
    width: auto;
    height: auto;
    padding: 25px;
    background-color: rgb(85, 156, 177);
    border: 5px solid rgb(49, 64, 78);
    border-radius: 25px;
    transform: scale(0.6);
    margin-left: -95px;
}

form {
    height: auto;
}

.tb {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
}

.td {
    display: inline-block;
    width: 50%;
}

input,
#s-btn {
    color: rgb(49, 64, 78);
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

input[type="text"] {
    width: 200px;
    height: 92px;
    font-size: 40px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: rgb(49, 64, 78);
}

#s-wrapper {
    width: 1px;
    padding-right: 90px;
}

#s-btn {
    position: relative;
    display: block;
    width: 84px;
    height: 92px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 4px;
    width: 62px;
    height: 62px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid rgb(49, 64, 78);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

#s-btn span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

#s-btn span:before,
#s-btn span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: rgb(49, 64, 78);
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-wrapper:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: rgb(49, 64, 78);
    border-radius: 20px;
}

#s-wrapper:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-wrapper:hover #s-btn span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-wrapper:hover #s-btn span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-wrapper:hover #s-btn span:before,
#s-wrapper:hover #s-btn span:after {
    right: -6px;
    width: 40px;
    background-color: rgb(49, 64, 78);
}